<h2>This is form builder</h2>
<div class="container">
    <form [formGroup]="userForm">
        <div class="row">
            <div class="col-4">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name">

                <span *ngIf="fc.name.errors?.['required']">
                    <span class="alert alert-danger" *ngIf="fc.name.touched && fc.name.invalid">  Name is required
                    </span>
                </span>
    
                <div *ngIf="fc.name.errors?.['minlength']">
                    <div class="alert alert-danger" *ngIf="fc.name.touched && fc.name.invalid"> name is too short
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="username">Username</label>
                <input type="text" class="form-control" formControlName="username">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
        </div>
        <div class="row">
            <div class="col-6 p-5" >
                <Button type="submit" class="btn btn-success" (click)="onSaveUser()">Submit</Button>
            </div>
        </div>

    </form>
</div>